body{
    background-image: url(image/ai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
}
 .table{
    margin: 0 auto;
    width:70%;
    margin-top: 100px;
    border: 4px dashed rgb(80, 49, 49);
}

.width-height{
    width: 50%;
    height: 90px;
}
tr, th, td{
    width: 50%;
}

.title{
    background-color: hsla(0, 10%, 12%, 0.713);
    color: rgb(12, 8, 8);
    text-align: center;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}

.startat{
    background-color: rgba(224, 197, 191, 0.85);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 34px;
}
.stopat{
    background-color: hsla(96, 100%, 81%, 0.842);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 34px;
}
.minute{
    background-color: rgba(241, 189, 189, 0.75);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 34px;
}
.riel{
    background-color: rgba(183, 230, 186, 0.849);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 34px;
}

.button-start{
    background-color: rgba(255, 255, 255, 0.713);
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 34px;
}


.localtime{
    background-color: hsla(280, 90%, 27%, 0.645);
    color: rgb(12, 8, 8);
    text-align: center;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.red{
    background-color: rgb(168, 37, 92);
}
.orange{
    background-color: rgb(243, 76, 34);
} 


.btn, .btn1, .btn2 :hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
  }
  .btn1 {
    background-color: #d8006c; /* Green */
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
  }
  .btn2 {
    background-color: #ff7300; /* Green */
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
  }